SABA_CH/SampleData/OBIS/OBIS.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.OBIS" targetNamespace="Expression.Blend.SampleData.OBIS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OBIS" type="tns:OBIS" />
  <xs:complexType name="OBIS">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="OBIS" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="واحد" type="xs:string" />
    <xs:attribute name="شرح_انگلیسی" type="xs:string" />
    <xs:attribute name="شرح_فارسی" type="xs:string" />
    <xs:attribute name="فرمت_تبدیل_واحد" type="xs:string" />
    <xs:attribute name="نوع_منبع" type="xs:string" />
  </xs:complexType>
</xs:schema>