SABA_CH/SampleData/MainWindow/MainWindow.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.MainWindow" targetNamespace="Expression.Blend.SampleData.MainWindow" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MainWindow" type="tns:MainWindow" />
  <xs:complexType name="MainWindow">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="9" name="شماره__کنتور" type="xs:double" />
    <xs:attribute name="انتخاب" type="xs:boolean" />
  </xs:complexType>
</xs:schema>