SABA_CH/SampleData/UsedElec1/UsedElec1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.UsedElec1" targetNamespace="Expression.Blend.SampleData.UsedElec1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UsedElec1" type="tns:UsedElec1" />
  <xs:complexType name="UsedElec1">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Name" name="دیماند" type="xs:string" />
    <xs:attribute blend:FormatParameters="8" name="مقدار" type="xs:double" />
  </xs:complexType>
</xs:schema>