SABA_CH/SampleData/TestShowInfo2/TestShowInfo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.TestShowInfo2" targetNamespace="Expression.Blend.SampleData.TestShowInfo2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestShowInfo2" type="tns:TestShowInfo2" />
  <xs:complexType name="TestShowInfo2">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="اطلاعات" type="xs:string" />
    <xs:attribute name="انتخاب" type="xs:boolean" />
  </xs:complexType>
</xs:schema>