SABA_CH/SampleData/Tree/Tree.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.Tree" targetNamespace="Expression.Blend.SampleData.Tree" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tree" type="tns:Tree" />
  <xs:complexType name="Tree">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="Collection" type="tns:CollectionItemCollection" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="Property1" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CollectionItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CollectionItem" type="tns:CollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionItem">
    <xs:attribute name="Property1" type="xs:string" />
    <xs:attribute name="Property2" type="xs:string" />
  </xs:complexType>
</xs:schema>