SABA_CH/SampleData/UseWater/UseWater.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.UseWater" targetNamespace="Expression.Blend.SampleData.UseWater" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UseWater" type="tns:UseWater" />
  <xs:complexType name="UseWater">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="9" name="تاریخ__قرائت" type="xs:double" />
    <xs:attribute blend:FormatParameters="9" name="منبع__قرائت___مصرف" type="xs:double" />
    <xs:attribute blend:FormatParameters="9" name="دبی__حداکثر" type="xs:double" />
    <xs:attribute blend:FormatParameters="9" name="دبی__لحظه__ای" type="xs:double" />
  </xs:complexType>
</xs:schema>